html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  @media (min-width: 400px) {
    font-size: 115%;
  }
  @media (min-width: 450px) {
    font-size: 130%;
  }
  @media (min-width: 500px) {
    font-size: 145%;
  }
  @media (min-width: 600px) {
    font-size: 165%;
  }
  @media (min-width: 750px) {
    font-size: 175%;
  }
}

.application {
  font-family: "Amatic SC", sans-serif;
  color: #595959;
  font-weight: 700;
  text-transform: uppercase;
  background: #315721;
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  background-position-x: right;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  &__content {
    background: rgba(236, 234, 234, 0.95);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5) inset,
      -5px -5px 5px 0 rgba(255, 255, 255, 1) inset;
    border-radius: 16px;
    padding: 2rem 1.5rem;
    margin: 2rem 0;
    width: 85%;
    max-width: 1120px;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    @media (min-width: 400px) {
      padding: 2.2rem 1.8rem;
    }
    @media (min-width: 500px) {
      padding: 2.5rem 2rem;
    }
    @media (min-width: 600px) {
      padding: 2.8rem 2.2rem;
    }
    @media (min-width: 700px) {
      padding: 3rem 2.5rem;
    }
    @media (min-width: 750px) {
      padding: 3.6rem 3rem;
    }
    @media (min-width: 1020px) {
      flex-flow: row;
    }
    &--mini {
      max-width: 620px;
    }
  }
  &__header {
    display: flex;
    flex-flow: column;
    @media (min-width: 1020px) {
      flex: 1;
    }
  }
  &__body {
    background: #eceaea;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4),
      -4px -4px 4px 0 rgba(255, 255, 255, 1);
    border-radius: 16px;
    margin-top: 1rem;

    @media (min-width: 1020px) {
      margin: 0 0 0 2rem;
      flex: 1;
    }
    &--hidden {
      display:none;
    }
  }
}

.heading {
  &__title {
    font-size: 3.4rem;
    letter-spacing: 2px;
    line-height: 1;
    @media (min-width: 400px) {
      letter-spacing: 3px;
    }
    @media (min-width: 500px) {
      letter-spacing: 4px;
    }
    @media (min-width: 600px) {
      letter-spacing: 5px;
    }
    @media (min-width: 700px) {
      letter-spacing: 6px;
    }
  }
  &__quote {
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: #000000;
    padding: 1rem 0;
  }
}
input:focus,
button:focus {
  outline: 2px solid #ff5200;
  outline-offset: 2px;
  -moz-outline-radius: 4px;
}

input::-webkit-calendar-picker-indicator {
  color: #c4c4c4;
}

.search-form {
  display: flex;
  flex-direction: column;
  &__wrapper {
    padding: 1rem 0;
    display: flex;
    flex-flow: column;
  }
  &__habit-input {
    background: #eceaea;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4) inset,
      -4px -4px 4px 0 rgba(255, 255, 255, 1) inset;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 0.8rem;
    margin-top: 1rem;
  }
  &__habit-button {
    font-size: 1.3rem;
    font-family: "Comic Sans MS";
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ff5200;
    border: 1px solid #595959;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5),
      -4px -4px 4px 0 rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1px #595959;
    align-self: flex-end;
    padding: 0.6rem 1.6rem;
    cursor: pointer;
  }
}
.calendar-title {
  font-size: 1.2rem;
  padding: 1rem 0 .5rem 1rem;
}
.calendar-buttons {
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.5fr;
  grid-column-gap: 1rem;
  padding-left: 1rem;
  &__button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    &--prev {
      justify-self: start;
      & img {
        transform: rotate(180deg);
        padding: 0 0 0 0.5rem;
      }
    }
    &--next {
      justify-self: end;
      & img {
        padding: 0 0 0 0.5rem;
      }
    }
  }
}

.calendar {
  font-size: 1.2rem;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  &__heading {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-column-gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__data,
  &__stats {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4) inset,
      -4px -4px 4px 0 rgba(255, 255, 255, 1) inset;
    border-radius: 10px;
    padding: 0.8rem 0.6rem;
  }
  &__stats {
    @media (min-width: 1020px) {
      max-width: 90px;
    }
  }
  &__body {
    overflow-y: scroll;
    max-height: 300px;
    @media (min-width: 1000px) {
      max-height: 350px;
    }
  }
  &__day {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-column-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #d1cfcf;
  }
  &__day-of-week {
    font-size: 1rem;
    padding-left: 0.8rem;
  }
  &__checker {
    justify-self: center;
    padding: 0.4rem;
  }
}

.habit-checkbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  
  &__input {
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__tick {
    display: flex;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #000000;
    position: relative;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4),
      -2px -2px 2px 0 rgba(255, 255, 255, 1);
    border-radius: 4px;
    grid-column: 1/2;
    grid-row: 1/2;
    cursor: pointer;
  }
  &__input:checked + &__tick:after {
    content: "";
    position: absolute;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    left: 2px;
    height: 6px;
    width: 20px;
    transform: rotate(-45deg);
  }
  &__input:checked + &__tick {
    background: #ff5200;
  }
  &__input:focus + &__tick {
    outline: 2px solid #ff5200;
    outline-offset: 2px;
    -moz-outline-radius: 4px;
  }
}


.width {
  max-width: 700px;
}